@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import '@fortawesome/fontawesome-free/css/all.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* make css variable for a color */

.box{

}

html {
  height: 100%;
}

body {
  height: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(251 207 232 / var(--tw-bg-opacity));
}

.textShadow {
  text-shadow: 1px 1px 3px rgb(186, 6, 102);
}

.textShadow2 {
  text-shadow: 3px 4px 7px rgb(186, 6, 102);
}

.textShadowMobile {
  text-shadow: 2px 2px 6px rgba(210, 65, 142, 0.875);
}

.textShadowMobile2 {
  text-shadow: 1px 1px 2px rgba(210, 65, 142, 0.875);
}

.short-border {
  position: relative;
}

.short-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  border-top: 4px solid rgb(201, 68, 124);
  border-radius: 50%;
}



.newShadow {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.newShadow2 {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.textShadow3 {
  text-shadow: 2px 4px 3px rgba(186, 6, 102, 0.537);
}

.textShadow3Mobile {
  text-shadow: 2px 4px 3px rgba(186, 6, 102, 0.282);
}

.darkTextShadow {
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.threedtext {
  text-shadow:  1px 0 #c783c6, 
               0 2px 0 #be7eb1,
               0 3px 0 #bd82bd,
               0 4px 0 #bd85bd,
               0 5px 0 #b97eae,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.testShadow {
  text-shadow: 2px 4px 3px rgba(169, 24, 152, 0.59);
}

.textGradient {
  background: #F8FFE8;
background: linear-gradient(to bottom, #F8FFE8 0%, #E3F5AB 33%, #B7DF2D 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;


}

