@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import '@fortawesome/fontawesome-free/css/all.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  min-height: 100vh;
}

.bgPattern {
  background-color: rgb(251 207 232);
  
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%239C92AC' fill-opacity='0.1'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
}

.bgImage {
  background-image: url('/new-hearts-faint.webp');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
 
}

.bgImage2 {
  background-image: url('/low-background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  
}

/* text-shadow-1 */
.textShadow {
  text-shadow: 1px 1px 3px rgb(186, 6, 102);
}

.textShadowMobile2 {
  text-shadow: 1px 1px 2px rgba(210, 65, 142, 0.875);
}

.short-border {
  position: relative;
}

.short-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  border-top: 4px solid rgb(201, 68, 124);
  border-radius: 50%;
}

.newShadow {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.tourShadow {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 4px 10px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* text-shadow-3 */
/* .text-shadow-3 {
  text-shadow: 2px 3px 3px rgba(186, 6, 102, 0.671);
} */

/* text-shadow-7  */
.textShadow3Mobile {
  text-shadow: 2px 2px 3px rgba(186, 6, 102, 0.282);
}

/* text-shadow-4 */
.textShadowMainHeaderMobile {
  text-shadow: 2px 2px 3px rgba(239, 76, 163, 0.269);
}

/* text-shadow-5 */
.textShadowHeaderMobile {
  text-shadow: 1px 1px 3px rgba(240, 11, 133, 0.282);
}

/* text-shadow-2 */
.textShadowMobileTour {
  text-shadow: 2px 2px 10px rgba(241, 82, 167, 0.401);
}

.textShadowMobileTourWhite {
  text-shadow: 2px 2px 10px rgb(248, 174, 240);
}

.textGradient {
  background: #f8ffe8;
  background: linear-gradient(to bottom, #f8ffe8 0%, #e3f5ab 33%, #b7df2d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* text-shadow-6 */
.followShadowMobile {
  text-shadow: 2px 2px 6px rgba(255, 47, 158, 0.315);
}

.textGradient2 {
  background: #f8ffe8;
  background: linear-gradient(to bottom, #f9bffc 0%, #fc87f8 33%, #951e91 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textShadowNone {
  text-shadow: none;
}
