

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-display: optional;
}

.bgImage {
  background-image: url('/new-hearts-faint.webp');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

.bgImage2 {
  background-image: url('/low-background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

.bgImage3 {
  background-image: url('/background-banner-blur.webp');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

/* text-shadow-1 */
.textShadow {
  text-shadow: 1px 1px 3px rgb(186, 6, 102);
}

.textShadowWhite {
  text-shadow: 1px 1px 50px rgb(255, 255, 255);
}

.textShadowMobile2 {
  text-shadow: 1px 1px 2px rgba(210, 65, 142, 0.875);
}

.short-border {
  position: relative;
}

.short-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  border-top: 4px solid rgb(201, 68, 124);
  border-radius: 50%;
}

.newShadow {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.dropdownShadow {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.tourShadow {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 4px 10px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* text-shadow-3 */
/* .text-shadow-3 {
  text-shadow: 2px 3px 3px rgba(186, 6, 102, 0.671);
} */

/* text-shadow-7  */
.textShadow3Mobile {
  text-shadow: 2px 2px 3px rgba(186, 6, 102, 0.282);
}

/* text-shadow-4 */
.textShadowMainHeaderMobile {
  text-shadow: 2px 2px 3px rgba(239, 76, 163, 0.269);
}

/* text-shadow-5 */
.textShadowHeaderMobile {
  text-shadow: 1px 1px 3px rgba(240, 11, 133, 0.282);
}

/* text-shadow-2 */
.textShadowMobileTour {
  text-shadow: 2px 2px 10px rgba(241, 82, 167, 0.401);
}

.textShadowMobileTourWhite {
  text-shadow: 2px 2px 10px rgb(248, 174, 240);
}

.textGradient {
  background: #f8ffe8;
  background: linear-gradient(to bottom, #f8ffe8 0%, #e3f5ab 33%, #b7df2d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* text-shadow-6 */
.followShadowMobile {
  text-shadow: 2px 2px 6px rgba(255, 47, 158, 0.315);
}

.textGradient2 {
  background: #f8ffe8;
  background: linear-gradient(to bottom, #f9bffc 0%, #fc87f8 33%, #951e91 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textShadowNone {
  text-shadow: none;
}

.divTransition {
  transition: height 0.2s ease-out;
}

.testimonialShadow {
  box-shadow: rgba(240, 46, 170, 0.3) -5px 5px, rgba(240, 46, 170, 0.2) -10px 10px, rgba(240, 46, 170, 0.1) -15px 15px, rgba(240, 46, 170, 0.05) -20px 20px;
}

.socialsShadow {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.contentSectionShadow {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.postBackground {
  background: rgb(255,173,246);
background: linear-gradient(0deg, rgba(255,173,246,0.7875525210084033) 0%, rgba(255,255,255,0.48783263305322133) 51%, rgba(255,255,255,0) 100%);

}

